*{
	text-decoration: none;
}
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	/*background: linear-gradient(to bottom, #e8d3e9, #a747a7, #eba6d4);*/
	background:url("pics/wingss.jpg") no-repeat center/cover;
}
.mainbody{
	width: 350px;
	height: 500px;
	background: rgb(14, 4, 4);
	overflow: hidden;
	background: transparent;

	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
h1{
color: #db6fe9;
justify-content: flex-start;
text-align: left;
font-size: 3rem;
text-shadow: #000 2px 2px ;

}
#check{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #eba6df;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow:rgb(22, 4, 4) 5px -3px 2px;
	font-size: 2.8em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background:white;
	
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: solid 1px;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #db6fe9;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: rgb(255, 255, 255);
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #eba6df;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
